# Archivos de sistema operativo
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencias y artefactos de build
/node_modules/
/dist/
/coverage/
/out-tsc/
/.pnp/
.pnp.js

# Carpetas de editores de código
/.idea/
/.vscode/

# Archivos temporales
/tmp/